* {
    padding: 0;
    margin: 0;
}

.typeLink { font-size: 40px; color: red; text-align: center; }

.inputForm {width: 1000px; height: 100px; font-size: 40px; margin-top: 10px;}

.submitButton {width: 100px; height: 100px; font-size:20px; margin-left: 20px; margin-top: 0px;}

.finalPage {font-size: 60px;}