<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShortLink</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
    <div>
        <p class="typeLink">Type your link</p>

        <form method="POST" th:action="@{/}" th:object="${link}" class="typeLink">
            <input th:field="*{url}" type="text" maxlength="50" class="inputForm">
            <input type="submit" value="submit" class="submitButton">
        </form>

    </div>
</body>
</html>